<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kz.teacher.forge.teacherforge.mapper.SchoolMapper">

    <select id="getList" resultType="school">
        SELECT id,
            domain,
            name,
            region_id as regionId,
            address ,
            status,
            type
        FROM schools
        WHERE 1 = 1
        <if test="name != null and name != ''">
            AND name LIKE '%' || #{name} || '%'
        </if>
        <if test="regionId != null and regionId != ''">
            AND region_id = #{regionId}
        </if>
        <if test="type != null and type != ''">
            AND status = #{type}
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
    </select>

</mapper>
